@import 'tailwindcss';

@tailwind utilities;

/* css rest start */
@import 'normalize.css';
/* css reset end */

@font-face {
  font-family: 'firaCode';
  src: local('firaCode Regular'),
    url('/assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.firaCode {
  font-family: 'firaCode';
}

/* .hero_gradient {
  background: #4b2e7a; 
  background: -webkit-linear-gradient(
    to right,
    #1e0633,
    #4b2e7a
  );
  background: linear-gradient(
    to right,
    #1e0633,
    #4b2e7a
  ); 
} */

.hero_gradient {
  background-color: #130f40;
  background-image: linear-gradient(315deg, #0e0b2e 0%, #0e0910 74%);
}

.back_drop {
  background-color: #410a3810;
  backdrop-filter: blur(35px);
}
